
@font-face {
    font-family: 'ProximaNova-Regular', sans-serif;
    src:  url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
          url('../fonts/ProximaNova-Regular.woff') format('woff2');
    font-display: swap;   
  }

  