html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    position: relative; 
}

//scrollbar
::-webkit-scrollbar
{
  width: 12px;  
  height: 12px; 
}

::-webkit-scrollbar-track
{
  background: rgba(25, 195, 19, 0.1);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb
{
    background: $green;
    border-radius: 12px;
}
//scrollbar END

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

// breadcrumbs
.breadcrumbs {
   &__inner {
        padding: 45px 0 30px; 
   } 
   &__list {
       color: $green;
       li {
           display: inline-block;
           position: relative;
           & + li {
                padding-left: 8px;    
           }
           &:last-child {
            a,
            span {
                color: $green;
            }
           }
           a {
             color: $gray;
           }
       }
   }
}

