$green: #35862E;
$light-green: #7BC674;
$light-gray: #E0E0E0;
$gray: #C4C4C4;
$red: #CB433A;
$violet: #A46195;
$orange: #F36A1C;
$blue: #73B1F4;
$blacky: #4F4F4F;




// @mixin f500 {
//     font-family: 'Quicksand', sans-serif;
//     font-weight: 400;
// }

