$green: #35862E;
$gray: #C4C4C4;


// DELETE
// $text: #747474;
// $text-gray: #bfcad7;
// $gray: #333333;
// $blacky: #212225;
// $medium-gray: #8797a7;
// $light-gray: #d9dfe5;
// $thin-gray: #cdd5e5;
// $turq: #3c6490;
// $light-blue: #0674ec;
// $blue: #294dcf;
// $green: #62d03b;
// $orange: #feb71d;
// $pink: #ff6a6c;
// $violet: #7347c1;


// @mixin f500 {
//     font-family: 'Quicksand', sans-serif;
//     font-weight: 400;
// }

// @mixin f700 {
//     font-family: 'Quicksand', sans-serif;
//     font-weight: 700;
// }
