@import 'vars';
@import 'global';
@import 'fonts';

.header__contacts {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 24px;
    align-items: center;
    .contacts-city {
        padding-left: 5px;
        color: $green;
        font-weight: 600;
        border-bottom: 2px dotted $green;
    }

    .header__contacts-info {
        .contacts-telephone {
            font-size: 18px;
            font-weight: 600;
            color: #000;
        }
        .contacts-time {
            padding-left: 20px;
            color: $gray;
            font-weight: 400;
        }
    }
}

.header__main {
    height: 60px;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    &-logo {
        margin-left: -11px;
    }
    &-menu {
        margin-top: 20px;
        .menu__list {
            display: flex;
            justify-content: space-between;
            li {
                display: inline-block;
                font-size: 15px;
                padding-right: 60px;
                & + li {
                    padding-right: 60px;
                }
                a{
                    color: #000;
                }
            }
        }
    }
    &-icons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .header__icon {
            padding-left: 50px;
        }
    }
}

.navigation {
    background-color: $green;
    height: 52px;

    .header__navigation {
        display: flex;
        justify-content: space-between;
        &-items {
            display: flex;
            justify-content: space-between; 
            margin-top: 16px;
            .items__burger {
                padding-right: 20px;
                
            }
            .items__catalog a {
                color: #fff;
                font-weight: 600;
                span {
                    padding-left: 10px;
                }
            }
        
        }

        &-menu {     
        position: relative;
        height: 60px;   
        &:hover {
            .navigation-drop__down {
                height: auto;  
                border-width: 1px;
                // padding: 20px;
                overflow: auto;           
            }           
        }
      
        .navigation-drop__down {
            width: 270px;
            height: 630px;
            border-radius: 10px;
            box-shadow: 0px 1px 5px rgba(15,14,14,0.25);
            position: absolute;   
            top: 52px;
            left: -16px;
            background-color: #fff;
            z-index: 2;
            transition: all .3s;
            height: 0;
            overflow: hidden; 

            li {
                padding: 10px 0 10px 20px;    
                border-bottom: 1px solid $green;  
                &:hover {
                    background-color: #c6e9cde0;  
                } 
                &:last-child {
                    border-bottom: none;
                }
            }
            a {
                font-size: 14px;
                color: #4F4F4F;  
                &:hover {
                    color: $green;   
                }
   
            } 

        }
    }        
        &-form {
                width: 570px; //max 
                margin: 0 auto;
                padding-top: 10px;
                position: relative;
                input {
                    padding-left: 20px;
                    display: block;
                    width: 100%;
                    border: none;
                    border-radius: 16px;
                    height: 35px;
                    font-size: 14px;
                    font-weight: 500;
                    outline: none;
                    &:focus {
                        border: 1px solid $light-green;
                    }
                    &::placeholder {
                        color: $gray;
                    }
                }
            button {
                position: absolute;  
                background-color: $light-green;
                right: 0;
                top: 10px;
                width: 100px;
                height: 35px;
                border-radius: 16px;
                border: none;
                outline: none;
                cursor: pointer;
                &:focus {
                    border: 1px solid $light-green;
                }
            }    
        }
        &-buy {
            margin-top: 12px;
            display: flex;
            justify-content: space-between;
            .basket {
                padding-right: 20px;
                position: relative;
                &::after {
                    content: '';
                    color: #fff;
                    font-size: 13px;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: $blue;
                    border-radius: 50%; 
                    top: -5px;
                    left: 23px;   
                }
            }
            .price {
                color: #fff;
                padding-top: 5px;
            }
        }
    }
    .header__basket-box {
        z-index: 2;
        position: relative;

        // &:hover {
        //     height: auto;
        //     overflow: hidden;
        // }  // тут ошибка перепиши придумай чтото 
        .basket__menu {
            position: absolute;
            top: 52px;
            left: -129px;
            width: 300px;
            height: 415px; 
            background-color: white;  
            border-bottom-left-radius: 12px;
            

            .basket__item {

            li {
                padding: 0 10px;
                border-bottom: 1px solid $green;
                display: flex;
                .delete-img {
                    padding-top: 20px;   
                }
                span {
                    width: 80px;
                    margin-top: 20px;
                }
                .menu-btn__choice {
                    padding-top: 19px;
                    padding-left: 10px;
                    a {
                        &:hover,
                        &:active {
                            color: #000;
                        }
                    }
                }
                .basket__menu-price {
                    color: $green;
                    font-weight: 600;
                    padding-top: 20px;
                    padding-left: 25px;
                }
            }
            &-price {
                color: $green;   
            }
          }
        }
        .menu__btn {
        text-align: center;
        .btn__basket {
                background-color: #578f53;
                color: #fff;
                margin: 20px 0;
                margin-left: 20px;
                width: 140px;
                height: 30px;
                border-radius: 20px;
                border: none; 
                cursor: pointer;
                font-size: 14px;
                &:hover {
                    transition: 0.7s;
                    background-color: $violet;
                }
            }
        }
    }
}

.main__background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 800px;
    min-width: 1272px;
    position: relative;
    h2 {
        width: 300px;
        line-height: 40px;
        position: absolute;
        top: 282px;
        right: 102px;
        color: #fff;
        font-size: 31px;
        font-weight: 600;
    }
    &-text { 
        position: absolute;
        top: 184px;
        right: 90px;
        width: 322.34px;
        height: 331.64px;
        background: #9dce99;
        opacity: 0.45;
        border-radius: 20px;
        transform: rotate(-30deg);
    }
}

//Items
.items {
    margin-top: 10px;  
    &__title {
        font-size: 19px;
        color: $gray;
        margin-bottom: 30px;  
    }      
    &__main {
        display: flex;
        flex-wrap: wrap;
        
        &-block {
            margin-left: 25px;
            margin-bottom: 30px;
            text-align: center;
            padding-top: 30px;
            width: 170px;
            height: 170px;
            border-radius: 12px;
            border: 2px solid $gray;
            background-color: #fff;
            &:hover {
                background-color: #77df8ce0;
                color: #fff;  
                transition: 1s;
            }
            
        }
        &-text {
            padding-top: 10px;
            color: $blacky;
            font-weight: 600;
            font-size: 14px;
        }
    } 
}

//products
.product__stock {
    padding: 30px 0;
    &-block {
        display: flex;
        justify-content: space-between;
        .block-stock__title {
            color: $gray;
            font-size: 24px;
        }
        .block-showMore {
            display: flex;

            .show-all {
                font-weight: 600;
                color: #000;
                padding-right: 20px;
                margin-top: -2px;
            }
            .show-controls {
                display: flex;
                .left {
                    padding-right: 22px;
                a {    
                    background-image: url(../img/main/left-arrow.png);background-repeat: no-repeat;
                }
            }
          }
        }
    }
}

.product__objects {
    padding-top: 25px;  
    display: flex;  
    .object {
        margin-left: 20px;
        width: 170px;
        height: 370px;
        border-radius: 10px;
        box-shadow: 0px 1px 5px rgba(15, 14, 14, 0.25);
        .sale {
            color: #fff;
            text-align: center;
            font-size: 13px;
            width: 75px;
            height: 20px; 
            background-color: $red;
            border-radius: 10px;
            border-bottom-left-radius: 0px;
        }
        .orange_hit {
            background-color: $orange;
        }
        .blue_new {
            background-color: $blue;
        }
        .img {
            padding-top: 20px;
            text-align: center;
        }
        .data {
            padding-top: 10px;
            display: flex;
            justify-content: space-around;
            color: $gray;
        }
        .text {
            padding-left: 10px;
            padding-top: 5px;
            font-size: 14px;
        }
        .price {
            padding-left: 10px;
            padding-top: 5px;
            font-weight: 600;
            span {
                padding-left: 5px;
                font-weight: 400;
                color: $gray;
            }
            .rub {
                padding-left: 20px;
            }
        }
        button.busket {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;
            width: 130px;
            height: 30px;
            background-color: $violet;
            text-align: center;
            border-radius: 20px;
            border: none; 
            cursor: pointer;
            img {
                padding-left: 7px;
                padding-top: 2px;
            }
            .text {
                color: #fff;
                margin-top: 0px;
                margin-left: 3px;
            }
        }
    }
}

.product__stock-pictures {
    display: flex;
    padding-top: 20px;
    .pictures {
        padding-right: 30px;    
    }
}

//about
.about {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    text-align: center;

    .about__company {
        &-title {

            text-transform: uppercase;
            font-weight: 600;
            font-size: 21px;
            line-height: 36px;
            padding-bottom: 10px;
        }
        &-online {     
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            padding-bottom: 30px;
        }
        &-text { 
            text-align: left;
        }
    }

    .about__advantages {
        padding: 50px 0; 
        display: flex; 
        justify-content: space-around;
        &-block {
            padding-right: 20px;
        }
        .advantages-img {
            img {
                width: 90px;
                height: 90px;
                border-radius: 40%;
                background-color: rgba(250, 221, 221, 0.81);;
            }
        }
        .last-child {
            padding-right: 0px;
        }
        .advantages-title {
            font-weight: 700; 
            padding: 10px 0;  
        }

        .advantages-text {
            font-size: 14px;
            line-height: 18px;
        }
    }

    button.more {
        background-color: $violet;
        color: #fff;
        margin-top: 20px;
        margin-left: 20px;
        width: 130px;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        border: none; 
        cursor: pointer;
        &:hover {
            transition: 0.7s;
            background-color: #578f53;
        }
    }
}

//choise
.choise__block {
    display: flex;
    justify-content: space-between;
    &-title {
        font-size: 24px;
        line-height: 32px;
        color: $green;
        font-weight: 600;
    }
    &-menu {
        display: flex;
        .list__main {
            img {
                padding-right: 6px;    
                padding-left: 6px;    
            }
            a {
                color: #000;
                &:active {
                    color: $green;
                }
            }
        }

        .down__list {
            width: 200px;
            height: 105px;
            border-radius: 10px;
            box-shadow: 0px 1px 5px rgba(15,14,14,0.25);
            li {
                border-top: 1px solid $gray;

            }
            a {
                color: #000;
                &:active {
                    color: $green;
                }
            }
        }

        .menu__increase {
            padding-right: 10px;
        }
        .menu__price {
            color: $green;
            font-size: 17px; 
            // border-bottom: 2px dotted #35862E;   
            margin-bottom: 8px; 
        }
    }
}

//category
.category {
    button.more {
        background-color: $violet;
        color: #fff;
        margin: 20px 0;
        margin-left: 20px;
        width: 130px;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        border: none; 
        cursor: pointer;
        &:hover {
            transition: 0.7s;
            background-color: #578f53;
        }
    }
}
.category-block {
    display: flex;
    justify-content: space-between; 
    .category__aside { 
        height: 1100px; 
        margin-top: 50px;
        padding: 20px 0 0 0;
        border-radius: 10px;
        -webkit-box-shadow: 0px 1px 5px rgba(15,14,14,0.25);
        box-shadow: 0px 1px 5px rgba(15,14,14,0.25);
        width: 370px;
        &-divide {
            padding-bottom: 10px;
            border-bottom: 2px solid $light-gray;
            ul {
                padding-left: 30px;
                padding-bottom: 12px; 
                a {
                    color: #4F4F4F;
                    
                    &:active {
                        color: $green;
                    }
                }
                li {
                    padding-left: 30px; 
                    padding-top: 10px;
                    a {
                      &::before {
                          content: '\2022';
                          font-size: 20px;
                          color: $gray;
                          padding-right: 6px;
                          &:active {
                            color: $green;
                         }
                      }
                    }
                }
            }
        }
        .title {
            padding-left: 30px;
            padding-bottom: 14px;
            font-size: 18px;
            font-weight: 600;    
        }
        .spec {
            padding-top: 20px;
        }
        .brand {
            padding-top: 20px;
        }
        .input {

            display: block;
            padding-left: 30px; 
            li {
                padding-bottom: 10px; 
            }
        }
        .brand__input {
            overflow-y: scroll;
            width: 300px; 
            height: 230px; 
        }
        .btn {
            padding-top: 30px;   
            text-align: center;
            button {
                border: none;
                cursor: pointer;
                color: $green;
                border-bottom: 2px dotted #35862E;
                &::before {
                    content: 'X';
                }
            }
        }
    }
}

.category__navigation {
    text-align: center;
}

.navigation-arrows {
    padding-top: 20px;    
    ul {
        li {
            display: inline;
            padding-left: 31px; 
            a {
                color: #000;
                &:active {
                    color: $green;
                }
            }  
        }
    }
}



//FOOTER
.footer__content {
    margin: 40px 0;
    border-top: 2px solid $gray;
    .footer__inner {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        .footer__col {
            &-title {
                text-transform: uppercase;
                line-height: 17px;
                padding-bottom: 20px;
            }
            &-list {
                li {
                    padding-bottom: 10px;
                    a {
                        color: #000;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            &-logo {
                text-align: center;
                margin-top: -12px;
            }
            &-telephone {
                text-align: center;
                a {
                color: $green;
                font-size: 18px;
                line-height: 22px;
                font-weight: 700;
              }
            }
            &-social {
                .footer__social-link {
                    display: flex;
                    margin-top: 20px;
                    li {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
                        padding-left: 10px;
                        padding-top: 10px;
                        margin-right: 10px;
                        &:nth-child(2) {
                            padding-left: 14px;
                        }
                        &:nth-child(3) {
                            padding-left: 7px;
                            padding-top: 15px;
                        }
                    } 
                    a {
                        width: 32px;
                        height: 32px;
                        
                        background-repeat: no-repeat;
                        & + a {
                            margin-left: 7px;
                        }
                    }
                }
            }
        }
    }
}


// food
.food__block {
    display: flex;
    justify-content: space-between;
    &-descr {
        width: 570px;
        height: 345px;

        border-radius: 10px;
        box-shadow: 0px 1px 5px rgba(15, 14, 14, 0.25);
        padding: 20px; 
        .desc-title {
            .title {
                font-size: 22px;
                line-height: 32px;
                font-weight: 600;
                color: $green;
            }
            .art {
                padding-top: 20px;   
                color: $gray;
                text-align: right;
            }
        }
        .desc-option {
            padding-top: 60px; 
            display: flex;
            justify-content: space-between;
            color: $gray;
            .price {
                span {
                    font-size: 18px;
                    font-weight: 400;
                    color: $gray;
                }
                color: #000;
                font-weight: 600;
                font-size: 41px;
            }
            .btn {
                button {
                    background-color: $violet;
                    color: #fff;
                    width: 130px;
                    height: 32px;
                    text-align: center;
                    border-radius: 20px;
                    border: none; 
                    cursor: pointer;
                    &:hover {
                        transition: 0.7s;
                        background-color: #578f53;
                    }
                }
            }
        }
        .minimum {
            color: $gray;
            font-size: 22px;
            padding-top: 20px;
        }
        .pictures {
             margin-top: 10px;    
             padding-top: 30px;    
             border-top: 2px solid $gray;
             .images {
                 display: flex;
                 justify-content: space-between;
                }
        }
    }
}


//info
.info__choice {
    border-bottom: 2px solid $gray;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    &-btn {
        padding-left: 30px; 
        font-weight: 600;  
        font-size: 18px;        
        position: relative;
    }
    a {
        color: #000;
        cursor: pointer;
    }
    .active {  
        color: $green; 
        .border__bottom {
            width: 91px;
            height: 6px;  
            position: absolute;
            bottom: -22px; 
            border-bottom: 3px solid $green;
            border-radius: 3px;
        }
    }
}

.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}

.info__text {
    padding: 0 10px;
    text-align: center;
    padding-bottom: 20px;  
}

.info__options {
    display: flex; 
    justify-content: space-between;   
       .title {
           padding-bottom: 20px;  
           font-size: 24px; 
           line-height: 32px; 
           font-weight: 600;    
       }
  .about-block,
  .about-condition,
  .composition-value {
      padding-bottom: 30px;     
      width: 600px;     
    .desc {
        display: flex; 
        justify-content: space-between;
        border-bottom: 1px solid $gray;
        padding: 5px 0; 
        &:nth-last-child(1) {
            border-bottom: none;
        }
        
        &-item {
            flex:0 0 50%;     
        }
        &-value {
            text-align: left;    
        }
   
            a {
                color: $green;
            }
    }
} 

 .info__options-composition {
     border-left: 1px solid $gray;
     padding-left: 30px;  
     margin-left: 30px;
 }

}

.info__comments {
    border: 1px solid $gray;
    border-radius: 14px;  
    padding: 0 20px;  
    &-block {
        border-bottom: 1px solid $gray;
        padding: 13px 0;   
        &:nth-last-child(1) {
            border-bottom: none;
        } 
    } 
    .comments-user {
        display: flex;
        justify-content: space-between;
        .title {
            font-size: 18px;
            font-weight: 700;
            color: $green;   
        }
    }

    .comments-descr {
        display: flex;
        justify-content: space-between;
        .date {
            color: $gray;
        }
    }
}


.btn-comment {
    text-align: center;
    button {
        margin: 20px 0;  
        background-color: $violet;
        color: #fff;
        width: 130px;
        height: 32px;
        border-radius: 20px;
        border: none; 
        font-size: 14px;     
        cursor: pointer;
        &:hover {
            transition: 0.7s;
            background-color: #578f53;
        }
    }
}
